{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Login" %} - PlayGuide
{% endblock %}

{% block content %}

<main class="login-page">

    <div class="login-box">

        <h1>
            {% trans "Login" %}
        </h1>

        {% if error %}
            <p class="login-error">
                {{ error }}
            </p>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <label for="username">
                {% trans "Username" %}
            </label>

            <input
                type="text"
                id="username"
                name="username"
                required
            >


            <label for="password">
                {% trans "Password" %}
            </label>

            <input
                type="password"
                id="password"
                name="password"
                required
            >


            <button type="submit">
                {% trans "Login" %}
            </button>

        </form>


        <a href="{% url 'password_reset' %}">
            {% trans "Forgot Password?" %}
        </a>

    </div>

</main>

{% endblock %}