{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Messages" %} - PlayGuide
{% endblock %}

{% block content %}

<main class="messages-page">

    <section class="messages-header">

        <h1>
            {% trans "Messages" %}
        </h1>

        <p>
            {% trans "Your conversations with other PlayGuide users." %}
        </p>

    </section>


    <section class="conversation-list">

        {% if conversations %}

            {% for conversation in conversations %}

                <div class="conversation-card">

                    <h3>
                        {{ conversation.user.username }}
                    </h3>

                    <p>

                        {% if conversation.last_message.sender == user %}

                            {% trans "You:" %}

                        {% else %}

                            {{ conversation.last_message.sender.username }}:

                        {% endif %}

                        {{ conversation.last_message.text }}

                    </p>

                    <small>
                        {{ conversation.last_message.created_at }}
                    </small>

                    <br>

                    <a href="{% url 'chat' conversation.user.username %}">
                        {% trans "Open Chat" %}
                    </a>

                </div>

            {% endfor %}

        {% else %}

            <p>
                {% trans "You do not have any conversations yet." %}
            </p>

        {% endif %}

    </section>

</main>

{% endblock %}