{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Reset Password" %} - PlayGuide
{% endblock %}

{% block content %}

<main class="login-page">

    <div class="login-box">

        <h1>
            {% trans "Reset Password" %}
        </h1>

        <p>
            {% trans "Enter the email address connected to your account." %}
        </p>

        <form method="POST">

            {% csrf_token %}

            <label for="id_email">
                {% trans "Email" %}
            </label>

            {{ form.email }}

            <button type="submit">
                {% trans "Send Reset Link" %}
            </button>

        </form>

    </div>

</main>

{% endblock %}