{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Set New Password" %} - PlayGuide
{% endblock %}

{% block content %}

<main class="login-page">

    <div class="login-box">

        <h1>
            {% trans "Set New Password" %}
        </h1>

        {% if validlink %}

            <form method="POST">

                {% csrf_token %}

                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}

                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}

                <button type="submit">
                    {% trans "Change Password" %}
                </button>

            </form>

        {% else %}

            <p>
                {% trans "This password reset link is invalid or has already been used." %}
            </p>

            <a href="{% url 'password_reset' %}">
                {% trans "Request New Reset Link" %}
            </a>

        {% endif %}

    </div>

</main>

{% endblock %}