{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Register" %} - PlayGuide
{% endblock %}

{% block content %}

<main class="login-page">

    <div class="login-box">

        <h1>
            {% trans "Create Account" %}
        </h1>

        {% if error %}
            <p class="login-error">
                {{ error }}
            </p>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <label for="username">
                {% trans "Username" %}
            </label>

            <input
                type="text"
                id="username"
                name="username"
                required
            >


            <label for="email">
                {% trans "Email" %}
            </label>

            <input
                type="email"
                id="email"
                name="email"
                required
            >


            <label for="password">
                {% trans "Password" %}
            </label>

            <input
                type="password"
                id="password"
                name="password"
                required
            >


            <label for="password_confirm">
                {% trans "Confirm Password" %}
            </label>

            <input
                type="password"
                id="password_confirm"
                name="password_confirm"
                required
            >


            <button type="submit">
                {% trans "Create Account" %}
            </button>

        </form>

    </div>

</main>

{% endblock %}