{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "My Wishlist" %} - PlayGuide
{% endblock %}

{% block content %}

<main class="store-page">

    <h1>
        {% trans "My Wishlist" %} ❤️
    </h1>

    {% if wishlist_entries %}

        <div class="game-grid">

            {% for entry in wishlist_entries %}

                <div class="game-card">

                    {% if entry.game.cover %}

                        <img
                            src="{{ entry.game.cover.url }}"
                            alt="{{ entry.game.title }}"
                        >

                    {% endif %}

                    <div class="game-card-content">

                        <h2>
                            {{ entry.game.title }}
                        </h2>

                        <p>
                            {{ entry.game.description }}
                        </p>

                        <div class="wishlist-card-bottom">

                            <div class="wishlist-actions">

                                <a
                                    href="{% url 'game_detail' entry.game.id %}"
                                    class="wishlist-view-button"
                                >
                                    {% trans "View Game" %}
                                </a>

                                <form
                                    method="POST"
                                    action="{% url 'remove_from_wishlist' entry.game.id %}"
                                >
                                    {% csrf_token %}

                                    <button
                                        type="submit"
                                        class="remove-wishlist-button"
                                    >
                                        {% trans "Remove" %}
                                    </button>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    {% else %}

        <p>
            {% trans "Your wishlist is empty." %}
        </p>

    {% endif %}

</main>

{% endblock %}